crm_updater_custom_tool.json
{
  "name": "n8n Advanced: AI CRM Updater Custom Tool",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trig",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "openai-m",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        300,
        480
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a CRM Coordinator. Your job is to update CRM deal pipelines using the provided tools. Always confirm back to the user what you have successfully done."
            }
          ]
        }
      },
      "id": "ai-agt",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "name": "update_crm_deal",
        "description": "Call this tool when the user wants to update a deal status, stage, or value in the CRM. You must provide 'dealName' and 'stage' as arguments.",
        "properties": {
          "propertiesList": [
            {
              "name": "dealName",
              "type": "string",
              "description": "The name of the company or deal to update."
            },
            {
              "name": "stage",
              "type": "string",
              "description": "The new stage of the deal (e.g., Lead, Proposal, Closed Won, Closed Lost)."
            }
          ]
        }
      },
      "id": "custom-crm-tool",
      "name": "CRM Custom Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        480
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "telegram-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CRM Custom Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}